@mixin tamanho-font($size) {
    font-family: $font-1;
    @if $size == 30 {
        font-style: normal;
        font-weight: bold;
        font-size: 1.563rem;
        line-height: 155.2%;
        color: $text-header-1;
    }
    @if $size == 16 {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    @if $size == 16.1 {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 200%;
    }
    @if $size == 20 {
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 155.2%;
    }
    @if $size == 50 {
        font-style: normal;
        font-weight: bold;
        font-size: 3.125rem;
        line-height: 155.2%;
    }
}


@mixin btn-primary() {
    background: $btn-primary;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px;
    display: inline-block;
    color: $text-section-3;
}
