// Cores
$bg-header-1: #E47500;
$bg-header-2: #FFFFFF;

$text-header-1: #FFFFFF;
$text-header-2: #DC7000;

$text-section-1: #E87D0E;
$text-section-2: #000000;
$text-section-3: #FFFFFF;

$btn-primary: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);

// Fontes
$font-1: 'Poppins', sans-serif; 

// Espaçamento
$top: 25px;
$bottom: 25px;
$gap: 25px;

$top-section: 290px;